    <div class="row header">
      <div class="col header" style="width:5%">QTY</div>
      <div class="col header" style="width:20%">WOOD</div>
      <div class="col header" style="width:25%">FINISH</div>
      <div class="col header" style="width:25%">DESCRIPTION (h x w x d)</div>
      <div class="col header" style="width:20%">PICTURE</div>
    </div>
    <div id="items_list">
      <%= render 'items/list' %>
    </div>
    <%= fields_for :item, @item do |item| %>
    <div class="row">
      <div class="col" style="width:5%"><%= item.text_field :quantity,
        :class => 'custom_text small right_text',
        :size => '5',  
        :maxlength => '5' %></div>
      <div class="col" style="width:20%"><%= item.text_area :wood,
        :class => 'custom_text medium',
        :rows => '2' %></div>
      <div class="col" style="width:25%"><%= item.text_area :finish,
        :rows => '2' %></div>
      <div class="col" style="width:25%"><%= item.text_area :description,
        :rows => '2' %></div>
      <% if !is_sketchup? %>
      <div class="col" style="width:20%"><%= file_field_tag :image_file %></div>
      <% end %>
    </div>
    <% end %>
