  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= f.text_field :order_number,
        :id => "order_number",
        :onkeypress => "" %>
    </div>
    <div class="col">
      <%= button_tag "Existing Order",
        :id => "existing_order_button",
        :name => "existing_order_button",
        :type => "button" %>
    </div>
  </div>
  <br />
  <div class="row"> 
    <p class="bold">&mdash; OR &mdash;</p>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <%= button_tag "New Order",
        :id => "new_order_button",
        :name => "new_order_button",
        :type => "button" %>
    </div>
  </div>
  <div class="row" id="order_detail" style="display:none;">
    <%= render :partial => "orders/sub_form", :order => @order -%>
  </div>
    
  <div class="row"></div>
