<%= form_for @ledger, :remote => @ledger.new_record? do |ledger| %>
  <% if @ledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ledger.errors.count, "error") %> prohibited this ledger from being saved:</h2>

      <ul>
      <% @ledger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= ledger.hidden_field :id %>
  <%= ledger.hidden_field :order_number %>
  <div class="row">
    <div class="col name"><%= ledger.label :payment_type, 'Payment Type' %></div>
    <div class="col">
      <%= ledger.collection_select(:payment_type, 
        @payment_type_list, 
        :name, 
        :description, 
        { :prompt => 'select...' } ) %>
    </div>
  </div>
  <div class="row">
    <div class="col name"><%= ledger.label :payment_method, 'Payment Method' %></div>
    <div class="col">
      <%= ledger.collection_select(:payment_method, 
        @payment_method_list, 
        :name, 
        :description, 
        { :prompt => 'select...' } ) %>
    </div>
  </div>
  <div class="row">
    <div class="col name"><%= ledger.label :amount %></div>
    <div class="col"><%= ledger.text_field :amount %></div>
  </div>
  <div class="row">
    <div class="col name"><%= ledger.label :payment_date %></div>
    <div class="col"><%= ledger.text_field :payment_date,
      :class => 'datepicker',
      :value => @ledger.payment_date.strftime('%m/%d/%Y') %></div>
  </div>
  <div class="row">
    <div class="col name"><%= ledger.label :status %></div>
    <div class="col">
      <%= ledger.collection_select(:status, 
        @status_list, 
        :key, 
        :option, 
        { :prompt => 'select...' } ) %>
    </div>
  </div>
<% end %>
