    <div class="row" id="<%= ledger.id %>">
      <div class="col" style="width:15%"><%= ledger.payment_date.strftime('%m/%d/%Y') %></div>
      <div class="col" style="width:20%"><%= ledger.payment_type %></div>
      <div class="col" style="width:20%"><%= ledger.payment_method %></div>
      <div class="col right_text" style="width:10%"><%= number_to_currency(ledger.amount) %></div>
      <div class="col center" style="width:20%">
      <% if ! @no_action %>
        <%= link_to "Modify", "javascript: Ledger.modify_dialog('" +  ledger.id.to_s + "')" %>
        &nbsp;&nbsp;
        <%= link_to "Remove", "javascript: Ledger.remove_dialog('" +  ledger.id.to_s + "')" %>
      <% end %>
      </div>
    </div>
  