    <% if @ledgers %>
      <div class="row bold">
        <div class="col" style="width:45%">Remaining Balance:
          <span id="remaining_balance" class="remaining_balance"> 
          <%= if 0 == @remaining_balance then 'PAID' else number_to_currency(@remaining_balance) end %>
          </span>
        </div>
        <div class="col right right_text" style="width:50%">
          <button id="new_ledger_button" type="button">New Payment</button>
        </div>
      </div>
      <div class="row header">
        <div class="col header" style="width:15%">DATE</div>
        <div class="col header" style="width:20%">TYPE</div>
        <div class="col header" style="width:20%">METHOD</div>
        <div class="col header" style="width:10%">AMOUNT</div>
        <div class="col header center" style="width:20%">ACTION</div>
      </div>
      <% if 0 < @ledgers.size %>
        <% @ledgers.each_with_index do |ledger, i| %>
        <div class="row">
          <div class="col" style="width:15%"><%= ledger.payment_date.strftime('%m/%d/%Y') %></div>
          <div class="col" style="width:20%"><%= ledger.payment_type %></div>
          <div class="col" style="width:20%"><%= ledger.payment_method %></div>
          <div class="col right_text" style="width:10%"><%= number_to_currency(ledger.amount) %></div>
          <div class="col center" style="width:20%">
            <%= link_to "Modify", edit_ledger_path(ledger) %>
            &nbsp;&nbsp;
            <%= link_to 'Remove', ledger, confirm: 'Are you sure?', method: :delete %>
          </div>
        </div>
        <% end %>
      <% else %>
        <div id="ledger_no_record" class="row center" style="padding:100px 0px;">No records found</div>
      <% end %>
      <div id="new_ledger"></div>
      <div id="new_ledger_dialog" class="modal_dialog" title="New Payment" style="display:none;">
        <div class="row" style="margin-left:10px">
          <%= render 'ledgers/form' %>
        </div>
      </div>
    <% end %>      
