<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="col" style="width:120px;"><%= f.label :name %></div>
    <div class="col"><%= f.text_field :name %></div>
  </div>
  <div class="field">
    <div class="col" style="width:120px;"><%= f.label :home_phone %></div>
    <div class="col"><%= f.telephone_field :home_phone %></div>
  </div>
  <div class="field">
    <div class="col" style="width:120px;"><%= f.label :mobile_phone %></div>
    <div class="col"><%= f.telephone_field :mobile_phone %></div>
  </div>
  <div class="field">
    <div class="col" style="width:120px;"><%= f.label :business_phone %></div>
    <div class="col"><%= f.telephone_field :business_phone %></div>
  </div>
  <div class="field">
    <div class="col" style="width:120px;"><%= f.label :fax %></div>
    <div class="col"><%= f.telephone_field :fax %></div>
  </div>
  <div class="field">
    <div class="col" style="width:120px;"><%= f.label :email %></div>
    <div class="col"><%= f.text_field :email %></div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
