    <%= fields_for :customer, @customer do |customer| %>
    <%= customer.hidden_field :id, :value => @customer.id %>
    <div class="col" style="width:40%">
      <div class="row">
        <div class="col name bold" style="width:30%">NAME</div>
        <div class="col"><%= customer.label @customer.name %></div>
      </div>
      <%= render 'addresses/info' %>
    </div>
    <div class="col"></div>
    <div class="col" style="width:50%">
      <div class="row">
        <div class="col bold" style="width:50%">PHONE</div>
        <div class="col" style="width:40%"><%= number_to_phone(@customer.home_phone, :area_code => true) %></div>
      </div>
      <div class="row">
        <div class="col bold" style="width:50%">MOBILE</div>
        <div class="col" style="width:40%"><%= number_to_phone(@customer.mobile_phone, :area_code => true) %></div>
      </div>
      <div class="row">
        <div class="col bold" style="width:50%">WORK</div>
        <div class="col" style="width:40%"><%= number_to_phone(@customer.business_phone, :area_code => true) %></div>
      </div>
      <div class="row">
        <div class="col bold" style="width:50%">FAX</div>
        <div class="col" style="width:40%"><%= number_to_phone(@customer.fax, :area_code => true) %>
        </div>
      </div>
      <div class="row">
        <div class="col bold" style="width:50%">EMAIL</div>
        <div class="col" style="width:40%"><%= @customer.email %></div>
      </div>
    </div>
    <% end %>
