<h1>Customer Search</h1>

<%= render 'search_form' %>

<% if @customers %>
  <% @customers.each do |customer| %>
  <div class="row">
    <div class="col" style="width:20%"><%= customer.id %></div>
    <div class="col" style="width:35%"><%= customer.name %></div>
    <div class="col" style="width:15%"><%= customer.orders.size %></div>
    <div class="col" style="width:20%">
        <%= link_to "Show", customer %>
        &nbsp;
        <%= link_to "Edit", edit_customer_path(customer) %>
    </div>
  </div>
  <% end %>
<% end %>

<%= link_to 'Back', orders_path %>
