      <%= fields_for :address, @address do |address| %>
      <%= address.hidden_field :id, :value => @address.id %>
      <div class="row">
        <div class="col name" style="width:30%"><%= address.label :street1, 'ADDRESS' %></div>
        <div class="col">
          <%= address.text_field :street1,
            :value => (@address.is_empty(@address.street1) ? 'street 1' : @address.street1) %><br />
          <%= address.text_field :street2,
            :value => (@address.is_empty(@address.street2) ? (@address.is_empty(@address.street1) ? 'street2' : '') : @address.street2) %><br />
          <%= address.text_field :city,
            :value => (@address.is_empty(@address.city) ? (@address.is_empty(@address.street1) ? 'city' : '') : @address.city) %><br />
          <%= address.collection_select(:state, 
            @state_list, 
            :abbreviation, 
            :abbreviation, 
            { :prompt => 'state...' } ) %><br />
          <%= address.text_field :zip_code,
            :value => (@address.is_empty(@address.zip_code) ? (@address.is_empty(@address.street1) ? 'zip code' : '') : @address.zip_code) %>
        </div>
      </div>
      <% end %>
