<%= form_for @note, :remote => @note.new_record? do |note| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= note.hidden_field :id %>
  <%= note.hidden_field :order_number, :value => @note.order_number %>
  <div class="row"><%= note.label :content, 'Note' %></div>
  <div class="row">
    <%= note.text_area :content,
      :class => 'custom_text large',
      :rows => '9' %>
  </div>
<% end %>
