<% if @note %>
  <%= fields_for :note, @note do |note| %>  
  <div class="row">
    <div class="col" style="width:15%"><%= @note.create_date.strftime('%m/%d/%Y') %></div>
    <div class="col" style="width:60%"><%= @note.content %></div>
    <div class="col" style="width:15%">
      <%= link_to "Modify", edit_note_path(@note) %>
      &nbsp;&nbsp;
      <%= link_to 'Remove', @note, confirm: 'Are you sure?', method: :delete %>
    </div>
  </div>
  <% end %>
<% end %>