<div class="hero-unit">
  <div class="portlet">
    <div class="left">Orders</div>
    <div class="right link_action">
      <%= link_to "New Order", new_order_path %>
    </div>
  </div>
  <div class="row">
    <div class="col bold" style="width:20%">
      Order Number
    </div>
    <div class="col bold" style="width:20%">Customer</div>
    <div class="col bold" style="width:15%">Price</div>
    <div class="col bold" style="width:15%"># of Items</div>
    <div class="col bold" style="width:20%">Actions</div>
  </div>
  <% @orders.each do |order| %>
  <div class="row">
    <div class="col" style="width:20%"><%= order.order_number %></div>
    <div class="col" style="width:20%"><%= order.customer.name %></div>
    <div class="col" style="width:15%"><%= order.price %></div>
    <div class="col" style="width:15%"><%= order.items.size %></div>
    <div class="col" style="width:20%">
        <%= link_to "Show", order %>
        &nbsp;
        <%= link_to "Edit", edit_order_path(order) %>
    </div>
  </div>
  <% end %>
  
  <div class="row">
    <div class="col_r">
      <%= will_paginate @orders %>
    </div>
  </div>
</div>