<p id="notice"><%= notice %></p>
<%= render 'orders/info_header' %>
<div class="tabs">
  <ul>
    <li><a href="#order_detail">Detail</a></li>
    <li><a href="#order_charge">Price</a></li>
    <li><a href="#order_ledger">Payment</a></li>
    <li><a href="#order_note">Note</a></li>
  </ul>
  <div id="order_detail">
    <div id="order_info" class="row">
      <%= render 'orders/info' %>
    </div>
    
    <div id="customer" class="row">
      <%= render 'customers/info' %>
    </div>
    
    <div id="items" style="margin-top:20px;">
      <%= render 'items/order_form' %>
    </div>
  </div>
  
  <div id="order_charge" class="row" style="margin-left:20%">
    <%= render 'orders/info_price' %>
  </div>
  
  <div id="order_ledger" class="row" style="margin-left:5%">
    <%= render 'ledgers/info' %>
  </div>
  
  <div id="order_note" class="row" style="margin-left:5%">
    <%= render 'notes/info_list' %>
  </div>
</div>
<div class="row" style="height:20px"></div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
